<h1>Your Contacts</h1>
<ul>
  @if (Model.Count <= 1)
  {
    <h2>You have not added a contact yet</h2>
  }
  @foreach (var contact in Model) {
    <ul>
      <li>Name: @contact.GetName()</li>
      <li>Address: @contact.GetAddress()</li>
      <li>Phone Number: @contact.GetPhoneNumber()</li>
    </ul>
    <br>
  }

<p><a href='/'>Return home</a></p>
<p><a href='/Contact/new'>Add another contact</a></p>
<form class="" action='/contacts_deleted/@Model[0].GetId()' method="post">
  <button type="submit" name="button">Click here to remove all contacts</button>
</form>
