<h1>Address Book</h1>
<h3>Add a new contact:</h3>
<form action='/contact_created' method='post'>
  <label for='new-name'>Name</label>
  <input id='new-name' name='new-name' type='text'>
  <label for='new-address'>Address</label>
  <input id='new-address' name='new-address' type='text'>
  <label for='new-number'>Phone Number</label>
  <input id='new-number' name='new-number' type='text'>
  <button type='submit'>Add contact</button>
</form>
